{:paths ["src"]
 :deps {com.biffweb/config            {:git/url "https://github.com/jacobobryant/biff"
                                       :git/tag "v0.7.25"
                                       :git/sha "7e920b2"
                                       :deps/root "libs/config"}
        com.biffweb/task-runner       {:git/url "https://github.com/jacobobryant/biff"
                                       :git/sha "bb1feb6f68f42ac3faa02c8c15b31aa21037dc63"
                                       :deps/root "libs/task-runner"}
        io.github.clojure/tools.build {:git/tag "v0.9.6" :git/sha "8e78bcc"}}}
